[submodule "www"]
	path = www
	url = https://github.com/ericprud/shapetree-tests-output
[submodule "shapetree.js"]
	path = shapetree.js
	url = https://github.com/shapetrees/shapetree.js
[submodule "playground"]
	path = playground
	url = https://github.com/shapetrees/playground.git
